<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QUANLYXEDULICH.Properties.Settings.QUAN_LY_XE_DU_LICHConnectionString"
            connectionString="Data Source=DESKTOP-12J6D6C;Initial Catalog=&quot;QUAN LY XE DU LICH&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>